{% extends 'products/base.html'  %}
{% block title%}
     Log in
{% endblock %}

{%block body%}

{%if validlink %}



<br><br><br><br><br>
<div class="section-top-border">

	<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-7">
								<h3 class="mb-30">Set Your New Password</h3>

                                	{%if form.errors%}
								<br>
								 <div align="center" class="alert alert-danger">
									 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>
											{{form.new_password1.errors}}
											{{form.new_password2.errors}}</strong>
								</div><br>
								{%endif%}

      <form class="form-horizontal" action="." method="post" enctype="multipart/form-data">
                        <div class="mt-10">

          {% csrf_token%}

                            <b>{{form.new_password1.label_tag}}</b>
             <br>
        <input type="password" style="display:inline;" class="single-input" name="new_password1" required id="id_new_password1" />

                        </div>




                <div class="mt-10">
                            <b>{{form.new_password2.label_tag}}</b><br>
            <input type="password" style="display:inline;"  class="single-input" name="new_password2" required id="id_new_password2" />



                        </div>
          <div class="mt-10">

         <button class="primary-btn">Reset Password</button>
          </div><br><br>
    </form>
 </div>
{%else%}


        <div class="jumbotron" style="margin-top:140px;">
    <h2 align="center">Your password Reset link is invalid</h2>
            <h3 align="center"><b>The link May be either used or Url is Incorrect.</b></h3>
            <h3 align="center">Please try Again</h3>
         </div>
            </div>
{%endif%}

    </div>


</div>

{%endblock%}