
{% extends 'products/base.html'  %}
{% block title%}
     Log in
{% endblock %}


{% block body %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>


<br><br><br><br><br>
<div class="section-top-border">

	<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-7">
								<h3 class="mb-30">Reset Your Password</h3>

      <form class="form-horizontal" action="." method="post" enctype="multipart/form-data">
                        <div class="form-group">

                                    <p><label for="id_email"><b>Email:</b></label> <input  type="email" class="single-input" value="{{request.user.email}}" name="email" maxlength="254"  id="id_email" required
                                    data-toggle="popover" data-trigger="focus" data-content="Enter Your Registered Email address"/></p>
                                    <br>

                            <p><input type="submit" value="send e-mail" class="primary-btn"></p>
                                    {% csrf_token%}

                        </div>
                    </form>
                            </div>

                     <b> After submitting of your email ,a link will be send on your mail address containing password reset link.</b>
                        </div>
    </div>
<br><br>

<style>
@media only screen and (max-width: 600px) {
.popover {
height:60px;
overflow-y:auto;
overflow-x:hidden;
background-color:f2f2f2;


		top: -60px !important;
		left: 59px !important;

		}




}
</style>


















{% endblock%}
