 {%extends 'products/base.html'%}
{%block body%}


<br><br><br><br><br>
<div class="section-top-border">

	<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-7">
								<h3 class="mb-30">Change Your Password</h3>

								{%if form.errors%}
								<br>
								 <div align="center" class="alert alert-danger">
									 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong> {{form.old_password.errors}}

											{{form.new_password1.errors}}
											{{form.new_password2.errors}}</strong>
								</div><br>
								{%endif%}
						<form  action="" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
					  <div class="mt-10">
					<b>{{form.old_password.label_tag}}</b><br>
					<input style="display:inline;" type="password" class="single-input" name="old_password" required id="id_old_password" autofocus >
					 </div>
					<br>
					  <div class="mt-10">
						  <b>{{form.new_password1.label_tag}}</b>
								 <input style="display:inline;" type="password" class="single-input" name="new_password1" required id="id_new_password1" />
					  </div>
					<br>
				    <div class="mt-10">
					  <b>{{form.new_password2.label_tag}}</b><br>
							<input style="display:inline;" type="password" class="single-input" name="new_password2" required id="id_new_password2" />
				  </div>

						<div class="mt-10">
								<button class="primary-btn" >Change Password</button>
						</div>
				</form>
							</div>
			</div>
	</div>
</div>

{%endblock%}