{% extends 'products/base.html'  %}
{% block title%}
     Log in
{% endblock %}


{% block body %}
<div class="container-fluid" style="margin-top:140px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron" align="center">

                    <h2 align="center">Password Changed.</h2>
                    <p align="center"><b>Congratulations,Your password has been successfully changed.</b></p>
                <a href="/" class="primary-btn">Home</a>

                            </div>
                        </div>







                 </div>
              </div>







{% endblock%}


