
 {%extends 'products/base.html'%}

 {%block body%}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});


</script>


	<!-- Start home-about Area -->
 <br> <br> <br>



			<section class="home-about-area section-gap" id="about">
				<div class="container">
						 {%if messages%}

							{%for message in messages%}
						<div align="center" class="alert alert-danger">
							<strong>{{message}}</strong>
						</div>
							{%endfor%}
						{%endif%}
					 {%if form.errors%}
					 <blockquote class="generic-blockquote">
						<b>{{ form.username.errors }}{{ form.password1.errors }}{{form.password2.errors}}</b>
					 </blockquote>
					{%endif%}
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-8 col-md-12 home-about-left">

							<h1>
								We’ve made Signup <br>
								easy for you
							</h1>
							<p class="sub">Enter Just Some basic details.</p>
							<p class="pb-20">
							 Already have an <b>Google</b> or <b>Facebook</b> account<br>
								click on sign in to continue
							</p>
							<a class="primary-btn" href="/accounts/login">Sign In</a>
						</div>
						<div class="col-lg-4 col-md-12 home-about-right relative">
							<form class="form-wrap" action="/accounts/signup" method="post" enctype="multipart/form-data">
								{%csrf_token%}
								<h4 class="text-white pb-20">Sign Up</h4>
									<input type="text" name="username" id="id_username" autocomplete="off"  placeholder="username" maxlength="150"  class="form-control"
									 data-toggle="popover" data-trigger="focus" data-content="{{form.username.help_text}}"/>
									{{form.email}}
									{{form.first_name}}
									{{form.last_name}}

									<input type="password" name="password1" id="id_password1" required class="form-control" placeholder="password"
									data-toggle="popover"   data-trigger="focus"
									data-content="	1. Your password can't be too similar to your other personal information.&#x0a;&#x0a;&#x0a;
													2. Your password can't be entirely numeric. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
													 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

													3. Your password can't be a commonly used password. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
													  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
													4. Your password must contain at least eight characters.  "
									data-htm/>

									<input type="password" name="password2" id="id_password2" required class="form-control" placeholder="Renter Password"
									data-toggle="popover" data-trigger="focus"   data-content="{{ form.password2.help_text}}"/>
									<button class="primary-btn">Sign Up</button>
							</form>
						</div>
					</div>
				</div>
			</section>

			<!-- End home-about Area -->
<style>
@media only screen and (max-width: 600px) {
.popover {
height:60px;
overflow-y:auto;
overflow-x:hidden;
background-color:f2f2f2;


		top: 50px !important;
		left: 39px !important;

		}




}
</style>



 {%endblock%}