{%extends 'products/base.html'%}

{%block body%}


<style>


.img-circle {
    border-radius: 50%;
}

.icon{
padding:6px;
text-decoration:none;
color:#2f2f2f;
font-size:20px;
}

.icon:hover{
color:#fab700;

}


</style>




			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container-fluid">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Us
							</h1>
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> About Us</a></p>
						</div>
					</div>
				</div>
			</section>
<!-- End banner Area -->





<!-- Start Sample Area -->
			<section class="sample-text-area">
				<div class="container">
					<h2  class="text-heading mb-10">About Us</h2>
					 <blockquote class="generic-blockquote">
									“Recently, the US Federal government banned online casinos from operating in
						 America by making it illegal to transfer money to them through any US bank or payment system.
						 As a result of this law, most of the popular online casino networks such as Party Gaming and
						 left the United States. Overnight, online casino players found themselves being chased by the
						 Federal government. But, after a fortnight, the online casino industry came up with a solution
						 and new online casinos started taking root. These began to operate under a different business
						 umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part
						 of this was enlisting electronic banking systems that would accept this new clarification and start
						 doing business with me. Listed in this article are the electronic banking”
					</blockquote>
				</div>
			</section>
			<!-- End Sample Area -->








<!-- Start Team Area -->

<div class="section-top-border">
	<div class="container">
						<h2 class="mb-30">Our Passionate Team</h2><br>
						<div class="row">
								<div class="col-md-4" align="center">

								 <!-- Team Member 1 -->

								<div class="single-widget protfolio-widget">
								<img src="http://www.backgroundsy.com/file/preview/user-icon.jpg" width="150px" height="100px;" alt="">
								<a href="#"><h4  style="color:#777777;" >Adele Gonzalez</h4></a>
								<p>
									MCSE boot camps have its supporters and
									its detractors. Some people do not understand why you should have to spend money
									on boot camp when you can get.
								</p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>

							</div>

							 	<div class="col-md-4" align="center">

									<!-- Team Member 2 -->
							<div class="single-widget protfolio-widget">
								<img src="http://www.backgroundsy.com/file/preview/user-icon.jpg" width="150px" height="100px;" alt="">
								<a href="#"><h4  style="color:#777777;" >Adele Gonzalez</h4></a>
								<p>
									MCSE boot camps have its supporters and
									its detractors. Some people do not understand why you should have to spend money
									on boot camp when you can get.
								</p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>

							</div>

							<div class="col-md-4" align="center">

								<!-- Team Member 3 -->
								<div class="single-widget protfolio-widget">
								<img src="http://www.backgroundsy.com/file/preview/user-icon.jpg" width="150px" height="100px;" alt="">
								<a href="#"><h4  style="color:#777777;" >Adele Gonzalez</h4></a>
								<p>
									MCSE boot camps have its supporters and
									its detractors. Some people do not understand why you should have to spend money
									on boot camp when you can get.
								</p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>

							</div>


							<div class="col-md-4" align="center">
								<!-- Team Member 4 -->
								<div class="single-widget protfolio-widget">
								<img src="http://www.backgroundsy.com/file/preview/user-icon.jpg" width="150px" height="100px;" alt="">
								<a href="#"><h4 style="color:#777777;" >Adele Gonzalez</h4></a>
								<p>
									MCSE boot camps have its supporters and
									its detractors. Some people do not understand why you should have to spend money
									on boot camp when you can get.
								</p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>

							</div>

							 	<div class="col-md-4" align="center">
									<!-- Team Member 5 -->
								<div class="single-widget protfolio-widget">
								<img src="http://www.backgroundsy.com/file/preview/user-icon.jpg" width="150px" height="100px;" alt="">
								<a href="#"><h4  style="color:#777777;" >Adele Gonzalez</h4></a>
								<p>
									MCSE boot camps have its supporters and
									its detractors. Some people do not understand why you should have to spend money
									on boot camp when you can get.
								</p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>

							</div>

								<div class="col-md-4" align="center">
									<!-- Team Member 6 -->
								<div class="single-widget protfolio-widget">
								<img src="http://www.backgroundsy.com/file/preview/user-icon.jpg" width="150px" height="100px;" alt="">
								<a href="#"><h4  style="color:#777777;" >Adele Gonzalez</h4></a>
								<p>
									MCSE boot camps have its supporters and
									its detractors. Some people do not understand why you should have to spend money
									on boot camp when you can get.
								</p>
								<ul>
									 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
			        	</div>
		          </div>
 			</div>
	  </div>



<!-- end Team area -->




<!-- Start Client Area -->



		<div class="whole-wrap">
				<div class="container">

					<div class="section-top-border">
						<h2 class="mb-20">Our Clients</h2><br><br>


						<!-- Client 1-->
						<h3  style="color:#777777;" class="mb-30">Tritronics</h3>
						<div class="row">
							<div class="col-md-3">
								<img src=" https://lh4.googleusercontent.com/proxy/e2-7cGXOwRUdgbS2-YGwCpLLnqAGMUDM6B4z-i7-7sDh1VlQcY6ac238djBL5aYPDuXeux48FC41K3P2GcJlKlRJrR6uw7huEwef4drRa1RJCbypWQgqumfwegNZWps=s0-d" alt="" class="img-fluid">
							</div>
							<div class="col-md-9 mt-sm-20">
								<blockquote class="generic-blockquote">Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.</blockquote>
							</div>
						</div>
					</div>

					<!-- Client 2-->

					<h3  style="color:#777777;" class="mb-30">Tritronics</h3>
						<div class="row">
							<div class="col-md-3">
								<img src=" https://lh4.googleusercontent.com/proxy/e2-7cGXOwRUdgbS2-YGwCpLLnqAGMUDM6B4z-i7-7sDh1VlQcY6ac238djBL5aYPDuXeux48FC41K3P2GcJlKlRJrR6uw7huEwef4drRa1RJCbypWQgqumfwegNZWps=s0-d" alt="" class="img-fluid">
							</div>
							<div class="col-md-9 mt-sm-20">
								<blockquote class="generic-blockquote">Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.</blockquote>
							</div>
						</div>
					</div>

				</div>
		</div>


<!-- End Client Area -->
{%endblock%}


