{%extends 'products/base.html'%}

{%block body%}

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Us				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> About Us</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
  	<!-- Start services Area -->
			<section class="cat-area section-gap aboutus-cat" id="feature">
				<div class="container">
						<div class="col-md-12 pb-30 header-text text-center">
							<h1 class="mb-10">Our Offered Services</h1>
							<p>
								Who are in extremely love with eco friendly system..
							</p>
						</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="single-cat d-flex flex-column">
								<a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-cloud-check"></span></span></a>
								<h4 class="mb-20" style="margin-top: 23px;">Cloud Services</h4>
								<p>
									Cloud Based Energy Monitoring IoT system which enable us to collect, organise & analyse billions of data pointers to improve the infrastructure of the future
								</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="single-cat">
								<a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-home"></span></span></a>
								<h4 class="mt-40 mb-20">Solar Services</h4>
								<p>
						 			Engineer your way to big savings from Solar. Why pay money for electricity when solar is shining on your roof. Like a farmer invest in crops, solar power plant is investment for energy
								</p>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- End services Area -->



			

			<!-- Start faq Area -->
			<section class="faq-area section-gap relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-3 col-md-6">
							<div class="single-faq">
								<div class="circle">
								  <div class="inner"></div>
								</div>
								<h5><span class="counter">2</span>K+</h5>
								<p>
									Projects Completed 
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-faq">
								<div class="circle">
								  <div class="inner"></div>
								</div>
								<h5><span class="counter">5.5</span>K</h5>
								<p>
									Total Employees
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-faq">
								<div class="circle">
								  <div class="inner"></div>
								</div>
								<h5 class="counter">959</h5>
								<p>
									Happy Clients
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-faq">
								<div class="circle">
								  <div class="inner"></div>
								</div>
								<h5 class="counter">367</h5>
								<p>
									Tickets Submited
								</p>
							</div>
						</div>																		
					</div>
				</div>	
			</section>
			<!-- End faq Area -->

{%endblock%}


