{%extends 'products/base.html'%}

{%block body%}



<div class="section-top-border" style="margin-top:140px;">
    <div class="container">
				<div class="typography" align="center">
									<h1>Solar EPC</h1>
                    <br><br><br>

                    </div>
        <h2 class="mb-30">Clients </h2>
						<div class="row">

							<div class="col-md-4">
								<div class="single-defination">

                                    <!-- Client 1-->
                                    							<img src=" https://lh4.googleusercontent.com/proxy/e2-7cGXOwRUdgbS2-YGwCpLLnqAGMUDM6B4z-i7-7sDh1VlQcY6ac238djBL5aYPDuXeux48FC41K3P2GcJlKlRJrR6uw7huEwef4drRa1RJCbypWQgqumfwegNZWps=s0-d" alt="" class="img-fluid"><br><br>
									<h4 class="mb-20">Client 01</h4>
									<p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="single-defination">
                                    <!-- Client 2-->
                                    							<img src=" https://lh4.googleusercontent.com/proxy/e2-7cGXOwRUdgbS2-YGwCpLLnqAGMUDM6B4z-i7-7sDh1VlQcY6ac238djBL5aYPDuXeux48FC41K3P2GcJlKlRJrR6uw7huEwef4drRa1RJCbypWQgqumfwegNZWps=s0-d" alt="" class="img-fluid"><br><br>
									<h4 class="mb-20">Client 02</h4>
									<p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="single-defination">
                                    <!-- Client 3-->
                                    							<img src=" https://lh4.googleusercontent.com/proxy/e2-7cGXOwRUdgbS2-YGwCpLLnqAGMUDM6B4z-i7-7sDh1VlQcY6ac238djBL5aYPDuXeux48FC41K3P2GcJlKlRJrR6uw7huEwef4drRa1RJCbypWQgqumfwegNZWps=s0-d" alt="" class="img-fluid"><br><br>
									<h4 class="mb-20">Client 03</h4>
									<p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
								</div>
							</div>
						</div>
					</div>
</div>




















		<div class="section-top-border">
            <div class="container">
						<h2 class="mb-30">Our Value Add</h2>
						<div class="progress-table-wrap">
							<div class="progress-table">
								<div class="table-head">
									<div class="serial">#</div>
									<div class="country">Countries</div>
									<div class="visit">Visits</div>
									<div class="percentage">Percentages</div>
								</div>
								<div class="table-row">
									<div class="serial">01</div>
									<div class="country"> <img src="img/elements/f1.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-1" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="serial">02</div>
									<div class="country"> <img src="img/elements/f2.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-2" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="serial">03</div>
									<div class="country"> <img src="img/elements/f3.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-3" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="serial">04</div>
									<div class="country"> <img src="img/elements/f4.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-4" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="serial">05</div>
									<div class="country"> <img src="img/elements/f5.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-5" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="serial">06</div>
									<div class="country"> <img src="img/elements/f6.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-6" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="serial">07</div>
									<div class="country"> <img src="img/elements/f7.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-7" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="serial">08</div>
									<div class="country"> <img src="img/elements/f8.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="percentage">
										<div class="progress">
											<div class="progress-bar color-8" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
            </div>
{%endblock%}