  {%extends 'products/base.html'%}

 {%block body%}
	<section class="home-about-area section-gap" id="about">
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-8 col-md-12 home-about-left" >




    {%if cart_items%}

							<h1 class="mb-10" align="center"  >
                             your cart is ready<br>
                             you can checkout.
							</h1>

							{%if messages%}

					{%for message in messages%}
							<div align="center" class="alert alert-danger">
								<strong>{{message}}</strong>
							</div>
					{%endfor%}
			{%endif%}
<div class="table-responsive" id="cart">
 <table class="table">
   <thead>
        <tr>
            <th>S. No.</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Actual Price</th>
		 	<th>After Discount</th>
			<th>Action</th>
        </tr>
    </thead>
  <tbody>
    <script>

     var count = 0;

    </script>

    {% for item in cart_items%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{item.product.prod_name}}</td>
            <td>{{item.quantity}}</td>
            <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{item.actual_prices}}</td>
			<td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{item.product_prices}}</td>
			<td>

				<a href="/products/{{item.id}}/delete" type="submit"    class="btn btn-danger btn-md" >
				   <i class="fa fa-trash" aria-hidden="true"></i>
				</a></td>
        </tr>

        <script>
         count = count+{{item.product_prices}}
        </script>
        {%endfor%}
  </tbody>

 </table>
</div>
         <h3 align="center" id="total">Total:-
          <script>
                  document.write(count);
          </script></h3>



 </div>



							{%if request.user.profile.tc%}
						<div class="col-lg-4 col-md-12  relative">

							<blockquote class="generic-blockquote">

											<h4  class="mb-20">Choose Payment Method:</h4>



									<form action="/products/order/confirm" method="post" enctype="multipart/form-data">
										{%csrf_token%}
										<select style="padding:10px;" name="payment" class=" btn btn-lg btn-block genric-btn primary-border radius">
											<option value="Cod">COD</option>
											<option value="PayPal">PayPal</option>
											<option value="Paytm">Paytm</option>

										</select>
										<input type="hidden" name="total_price" id="id_total">
										<input type="hidden" name="order_no" id="id_order_no">
										<br><br>
										 <button class="btn btn-block genric-btn primary">Place Order</button>
									</form>

								<hr>

									<h4 class="mb-20">Address Details:</h4>
								<div class="">
									<ul class="unordered-list">
										<li><b>Name:</b>{{request.user.first_name}}&nbsp;{{request.user.last_name}}</li>
										<li><b>Address:</b>{{request.user.profile.address}}</li>
										<li><b>Contact number:</b>{{request.user.profile.phone}}</li>
										<li><b>Area:</b>{{request.user.profile.area}}</li>
										<li><b>Zip Code:</b>{{request.user.profile.zipcode}}</li>
									</ul><hr>
									<form action="/accounts/profile/edit" method="post" enctype="multipart/form-data">
												{%csrf_token%}
										 <button class="btn btn-block genric-btn primary">Edit Address</button>
									</form>
								</div>
							</blockquote>




<script>
	var x = Math.floor((Math.random() * 1000000) + 1);

	document.getElementById("id_order_no").setAttribute('value',x);
	document.getElementById("id_total").setAttribute('value',count);
</script>



							{%else%}
							<div class="col-lg-4 col-md-12 home-about-right relative">
							<form id="profile_form" class="form-wrap" action="/products/cart" method="post" enctype="multipart/form-data">
								{%csrf_token%}
								<h4 class="text-white pb-20">Delivery Address details</h4>
								<label for="id_address" style="color:white;">Address:</label>
								<input  id="id_address" placeholder="Address" type="text" name="address" class="form-control" value="{{request.user.profile.address}}" required>
								<label for="id_phone" style="color:white;">Contact no.:</label>
								<input id="id_phone" placeholder="Phone Number" type="text" name="phone" class="form-control"  value="{{request.user.profile.phone}}" required>
								<label for="id_zipcode" style="color:white;">Zipcode:</label>
								<input id="id_zipcode" placeholder="ZipCode" type="text" name="zipcode" class="form-control" value=" {{request.user.profile.zipcode}}" required>
								<label for="id_area" style="color:white;">Area:</label>
								<input id="id_area" placeholder="Area" type="text" name="area" class="form-control" value="{{request.user.profile.area}}"  required>
							 <div class="switch-wrap d-flex justify-content-between">
										<p style="color:white;">Terms and Conditions:</p>
										<div class="confirm-checkbox">
											<input type="checkbox" id="confirm-checkbox" value="{{request.user.profile.tc}}" required>
											<label for="confirm-checkbox"></label>
										</div>
									</div>

									<button class="primary-btn">Add Address</button>
							</form>

	<script>

				 $(document).on('submit','#profile_form',function(event){
                     event.preventDefault();
                     	 var zipcode = document.getElementById("id_zipcode").value;
                     	 var area = document.getElementById("id_area").value;
                         var phone = document.getElementById("id_phone").value;
                     	 var address = document.getElementById("id_address").value;




							$.ajax({
                         url : '/accounts/profile',
                         data: {'phone':phone,
                         		'address':address,

                         		'area':area,
                         		'zipcode':zipcode,

                         			},
                         type : 'POST',
                          dataType: 'json',
                         success : function(json){
                        console.log(json);
                        window.location.href="/products/cart";
                      alert("your address added successfully.");
                    }
                });
            });








	</script>



						</div>
							{%endif%}
					</div>


{%else%}
							<div align="center"><br><br>
							<h1 >
                             your cart is empty<br>
                             start buying our products.
							</h1>

							<a href="/services_products/" class="genric-btn primary">All Products</a>
							</div>

 {%endif%}


				</div>
			</section>













  {%endblock%}